[core]
	editor = nvim
	quotepath = off
	pager = delta
[user]
	email = hey@ewen.works
	name = Ewen Le Bihan
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[interactive]
	diffFilter = delta --color-only
[delta]
	line-numbers = true
	syntax-theme = OneHalfLight

